:root {
	--main-text-color: #ffff;


}

.home {
	display: flex;
	width: 88vw;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.avatar{
	margin-right: 5%;
	margin-bottom: 35px;
}


img {
	border-radius: 50%;
}


.user-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.name, .info{
	color: var(--main-text-color);
	margin-bottom: 4%;

}

.media-icons{
	margin-top: 15px;
}

.fa-github{
	margin-right: 20px;
}



.fa{
	color: var(--main-text-color);
}



i.fab{
	font-size: 40px;
	color: var(--main-text-color);
}

a[download] {
	display: inline-block;
	padding: 10px 20px;
	background-color:#1a1919 ;
	color: white;
	text-decoration: none;
	border-radius: 4px;
}

.name {
	font-size: 40px;
}



@media only screen and (max-width: 600px){
	.home {
		margin: 0;
		padding: 0;
		width: 96vw;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

}
