:root {
    --main-text-color: #fff;
    --main-font-style: 'Poppins', sans-serif;
}

h2, h3 {
    color: var(--main-text-color);
}

.skills {
    margin-bottom: 2%;
}

.skills h2 {
    text-align: center;
    font-size: 50px;
    font-family: var(--main-font-style);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    height: 77vh;
    margin-right: 3%;
    margin-left: 3%;
    font-family: var(--main-font-style);
}

.skill-item {
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: disc; /* Ensure list-style-type is visible */
    margin: 0;
}

.skill-item li {
    margin-bottom: 10px;
    color: var(--main-text-color); /* Ensure text color is visible */
}

.prog-used {
    grid-area: 1 / 1 / 4 / 4; 
}

.database {
    grid-area: 1 / 5 / 4 / 8;
}

.networking { 
    grid-area: 1 / 9 / 4 / 12;
}

.tools { 
    grid-area: 4 / 3 / 7 / 6; 
}

.hardware {
    grid-area: 4 / 7 / 7 / 10;
}

.skills-info {
    color: white;
	width: 100%;
	margin-left: 50px;
}

@media (max-width: 768px) {
    .grid-wrapper{
        padding: 0;
        margin: 0;
    }
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, auto); 
        grid-row-gap: 20px; 
        height: auto;
        margin-right: 25px; 
        margin-left: 25px;
    }

    .prog-used, .database, .networking, .tools, .hardware {
        grid-area: auto; 
    }

    .skill-item ul {
        display: block; 
        text-align: left; 
        list-style-type: disc; 
    }

    .skill-item li {
        display: list-item; 
        margin: 5px 0; 
    }
}
