* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.navbar {
    display: flex;
    width: 150px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: auto 0;
}

.navbar .nav-link {
    text-decoration: none;
    color: white;
    padding: 1rem 0;
}

.logo {
    position: absolute;
    top: 1rem;
}

.logo .nav-link {
    padding: 0;
}

.nav-item {
	padding-bottom: 40px;
}



main {
	margin-left: 40px;
}

